@font-face {
  font-family: "UrbanTribe";
  src: url("../fonts/Urban-Tribe.ttf");
}

@font-face {
  font-family: "GoodTimes";
  src: url("../fonts/Good-Times.otf");
}

@font-face {
  font-family: "Amble";
  src: url("../fonts/Amble-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Amble";
  src: url("../fonts/Amble-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Amble";
  src: url("../fonts/Amble-Light.ttf");
  font-weight: lighter;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  height: auto;
  background-color: black;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../images/background.png");
  background-size: 300%;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (orientation: landscape) {
  .content {
    background-size: 100%;
  }
}

.preloader {
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
}

.preloader__item {
  color: #FAAd37;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.header {
  padding: 15px;
  font-family: 'GoodTimes';
  font-weight: 400;
  letter-spacing: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header .logo {
  margin-top: 10px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__image {
  margin-bottom: 15px;
  max-width: 30%;
  height: auto;
}

.header .logo__text {
  max-width: 60%;
  height: auto;
}

.header__slogan {
  margin-top: 20px;
  font-size: 3.6rem;
  line-height: 5rem;
  text-align: center;
  color: #E5E5E5;
}

.header__slogan--last {
  color: #FAAd37;
}

.header__slogan-second {
  margin-bottom: 100px;
  line-height: 2.5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #FAAd37;
}

.header__btn {
  background-color: transparent;
  text-decoration: none;
  margin: 0 auto 120px auto;
  text-indent: 1rem;
  padding: 12px 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Amble';
  font-size: 2rem;
  text-align: center;
  color: #FAAd37;
  border: 4px solid #FAAd37;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__btn:hover {
  color: #E5E5E5;
  background-color: #FAAd37;
}

@media screen and (min-width: 768px) {
  .header .logo {
    position: relative;
    margin-top: 25px;
    min-width: 330px;
    max-width: 330px;
  }
  .header__slogan-second {
    margin-top: 130px;
  }
  .header__back-to-top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
  }
  .header__back-to-top > i {
    cursor: pointer;
    color: #FAAd37;
    font-size: 5rem;
  }
  .header__back-to-top > i:hover {
    color: #E5E5E5;
  }
  .header__btn {
    margin-top: 50px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation #menu__toggle {
  opacity: 0;
  visibility: hidden;
}

.navigation #menu__toggle:checked + .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navigation #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation #menu__toggle:checked ~ .menu__box {
  top: 0 !important;
}

.navigation .menu__btn {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 28px;
  height: 32px;
  z-index: 9999;
}

.navigation .menu__btn > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FAAd37;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__btn > span::before, .navigation .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FAAd37;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__btn > span::before {
  content: '';
  top: -8px;
}

.navigation .menu__btn > span::after {
  content: '';
  top: 8px;
}

.navigation .menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #202020;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  z-index: 999;
}

.navigation .menu__item {
  display: block;
  padding: 24px 48px;
  color: #E5E5E5;
  font-family: 'GoodTimes', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__item:hover {
  color: #FAAd37;
}

.navigation .menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .menu__item--icon {
  color: #FAAd37;
}

.navigation .menu__item--icon > i {
  font-size: 2.4rem;
}

.navigation .menu__item--icon:hover {
  color: #E5E5E5;
}

@media screen and (orientation: landscape) {
  .navigation .menu__box {
    top: -200%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo-menu__container {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .navigation .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -50px;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
  }
  .navigation .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
    color: #E5E5E5;
    font-family: 'Amble', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: normal;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .navigation .menu__btn {
    display: none;
  }
  .navigation .menu__item--icon {
    color: #FAAd37;
  }
}

@media screen and (min-width: 1025px) {
  .logo-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 150px;
  }
  .navigation .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -30px;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
  }
  .navigation .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 24px;
    color: #E5E5E5;
    font-family: 'Amble', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: normal;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .navigation .menu__item--icon {
    color: #FAAd37;
  }
}

.pricing {
  padding: 15px;
  font-family: 'GoodTimes';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: auto;
}

.pricing__title {
  color: #FAAd37;
  font-size: 3.6rem;
}

.pricing .pricing-element {
  margin-top: 55px;
}

.pricing .pricing-element__title {
  color: #FAAd37;
  font-size: 2.4rem;
}

.pricing .pricing-element__subtitle {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'Amble';
  font-weight: normal;
  font-size: 2.4rem;
  color: #E5E5E5;
}

@media screen and (min-width: 768px) {
  .pricing {
    background-image: url("../images/pricing-background.jpg");
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
  .pricing .pricing-container {
    padding: 100px 0 200px 0;
    margin: 0px 100px 0 100px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border-bottom: 1px solid #FAAd37;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: brightness(30%);
            backdrop-filter: brightness(30%);
  }
  .pricing .pricing-container .element-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space;
        -ms-flex-align: space;
            align-items: space;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .pricing .pricing-container .element-container .pricing-element {
    margin-top: 150px;
  }
}

.trainings {
  padding: 15px;
  font-family: 'GoodTimes';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: auto;
}

.trainings .trainings-element {
  margin-top: 55px;
}

.trainings .trainings-element__title {
  color: #FAAd37;
  font-size: 3.6rem;
}

.trainings .trainings-element__description {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'Amble';
  font-weight: normal;
  font-size: 2.4rem;
  color: #E5E5E5;
}

.trainings .trainings-element__description--yellow {
  color: #FAAd37;
}

.trainings .trainings-element__info {
  font-family: 'Amble';
  font-weight: normal;
  color: #E5E5E5;
  font-size: 3.2rem;
}

.trainings .trainings-element__link {
  text-decoration: none;
  font-family: 'Amble';
  font-weight: normal;
  color: #FAAd37;
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  .trainings {
    margin-top: 0;
    background-image: url("../images/trainings-background.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  .trainings .trainings-element {
    max-width: 40%;
    position: relative;
    left: 15%;
  }
}

.galery {
  margin-top: 50px;
  padding: 15px;
  font-family: 'GoodTimes';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  text-align: center;
}

.galery__title {
  margin-bottom: 50px;
  color: #FAAd37;
  font-size: 3.6rem;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.swiper-slide.swiper-slide-active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 99;
}

.swiper-button-prev {
  color: #FAAd37 !important;
}

.swiper-button-next {
  color: #FAAd37 !important;
}

@media screen and (min-width: 768px) {
  .galery {
    margin-top: 0;
    height: 100vh;
  }
}

.about {
  margin-top: 50px;
  padding: 15px;
  font-family: 'GoodTimes';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .expand {
  font-size: 2.4rem;
}

.about__title {
  font-size: 3.6rem;
  color: #FAAd37;
  margin-bottom: 30px;
}

.about__content {
  font-family: 'Amble';
  font-size: 2.4rem;
  color: #E5E5E5;
}

.about__expand {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  font-size: 2.4rem;
  color: #FAAd37;
}

.about__expand .fa-solid {
  font-size: 2.4rem;
}

.about__expanded-content {
  margin: 0 auto;
  max-height: 0px;
  width: auto;
  font-family: 'Amble';
  font-size: 2.4rem;
  color: #E5E5E5;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.about__expanded-content--visible {
  max-height: 500px;
  display: block;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

.about__hours-title {
  margin-top: 80px;
  font-size: 3.6rem;
  color: #FAAd37;
  margin-bottom: 30px;
}

.about__hours-item {
  margin-top: 30px;
}

.about__hours-item .hours-item__title {
  font-size: 2.4rem;
  color: #FAAd37;
}

.about__hours-item .hours-item__content {
  font-size: 2.4rem;
  color: #E5E5E5;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 0;
  }
  .about__expand:hover {
    color: #E5E5E5;
  }
  .about__hours-title {
    margin-top: 80px;
    font-size: 3.6rem;
    color: #FAAd37;
    margin-bottom: 30px;
  }
  .about__hours-item {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .about__hours-item .hours-item__title {
    font-size: 2.4rem;
    color: #FAAd37;
  }
  .about__hours-item .hours-item__content {
    font-size: 2.4rem;
    color: #E5E5E5;
  }
  .about__expanded-content {
    max-width: 50%;
  }
}

.contact {
  margin-top: 55px;
  padding: 15px;
  font-family: 'Amble';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact__item {
  margin-top: 40px;
}

.contact__item i {
  margin-bottom: 10px;
  font-size: 3.2rem;
  color: #FAAd37;
}

.contact__item-text {
  font-size: 2.4rem;
  color: #E5E5E5;
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__row .contact__item {
    margin: 50px 150px;
    text-align: left;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.footer {
  margin-top: 55px;
  padding: 15px;
  font-family: 'Amble';
  font-weight: 400;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__content {
  font-size: 1.2rem;
  letter-spacing: 5px;
  color: #E5E5E5;
  line-height: 50px;
}

.footer__content i {
  color: #FAAd37;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */