.about {
    padding: 15px;
    font-family: 'GoodTimes';
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title{
        font-size: 3.6rem;
        color: $color-yellow;
        margin-bottom: 30px;
    }

    &__content{
        font-family: 'Amble';
        font-size: 2.4rem;
        color: $color-font;
    }

    &__expand{
        font-size: 2.4rem;
        color: $color-yellow;

        .fa-solid{
            font-size: 2.4rem;
        }
    }

    &__expanded-content{
        max-height: 0px;
        font-family: 'Amble';
        font-size: 2.4rem;
        color: $color-font;
        margin-bottom: 30px;
        overflow: hidden;
        transition: max-height 1s;

        &--visible {
            max-height: 500px;
            display: block;
            transition: max-height 1s ease-in;
        }
    }

    &__hours-title {
        margin-top: 80px;
        font-size: 3.6rem;
        color: $color-yellow;
        margin-bottom: 30px;
    }

    &__hours-item{
        margin-top: 30px;

        .hours-item__title {
            font-size: 2.4rem;
            color: $color-yellow;
        }

        .hours-item__content {
            font-size: 2.4rem;
            color: $color-font;
        }
    }
}