.contact {
    margin-top: 55px;
    padding: 15px;
    font-family: 'Amble';
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__item {
        margin-top: 40px;

        i {
            margin-bottom: 10px;
            font-size: 3.2rem;
            color: $color-yellow;
        }
        a{
            font: inherit;
            color: $color-font;
            text-decoration: none;

            &:hover {
                color: $color-yellow
            }
        }

        &-text {
            font-size: 2.4rem;
            color: $color-font;
        }
    }
}

@media screen and (min-width: 768px){
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__row{
            display: flex;
            flex-direction: row;

            .contact__item {
                margin: 50px 100px;
                text-align: left;
                max-width: 350px;
                display: flex;
                flex-direction: row;
                gap: 20px;

                
            }
        }
    }
}