.galery {
    padding: 15px;
    font-family: 'GoodTimes';
    font-weight: 400;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title{
      margin-bottom: 30px;
      color: $color-yellow;
      font-size: 3.6rem;
    }
}


// .swiper-container > .swiper-slide__content {
//   display: flex;
//   align-items: center;
// }
.swiper-container{
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.swiper-container > .swiper-slide__content {
  position:absolute;
  top:0;
}

.swiper-slide {
  display:flex;
  width: auto;
  align-items: center;
  justify-content:center;
  transform: scale(0.8);
  transition: all 200ms ease;
  filter: brightness(30%);
  
  &.swiper-slide-active{
    filter: brightness(100%);
    transform: scale(1);
    z-index: 99;
  }
}

.swiper-button-prev {
  color: $color-yellow !important;
  
}

.swiper-button-next {
  color: $color-yellow !important;
}