.galery {
    padding: 15px;
    font-family: 'GoodTimes';
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2{
        color: white;
        font-size: 3rem;
    }
}

.swiper {
    width: 600px;
    height: 300px;
  }

  .swiper-slide{
    background-color: white;
  }