.navigation {
    display: flex;
    justify-content: center;

    #menu__toggle {
        opacity: 0;
    
        &:checked {

            + .menu__btn {
                > span {
                transform: rotate(45deg);

                    &::before{
                        top: 0;
                        transform: rotate(0deg);
                    }
                    
                    &::after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
            
            ~ .menu__box {
                top: 0 !important;
            }
        }
    }

    .menu__btn {
        position: fixed;
        top: 40px;
        right: 20px;
        width: 28px;
        height: 32px;
        cursor: pointer;
        z-index: 1;

        > span {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $color-yellow;
            transition-duration: .25s;
          
            &::before, &::after {
              display: block;
              position: absolute;
              width: 100%;
              height: 3px;
              background-color: $color-yellow;
              transition-duration: .25s;
            }
          
            &::before {
              content: '';
              top: -8px;
            }
          
            &::after {
              content: '';
              top: 8px;
            }
        }
    }

    .menu__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: $color-dark;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 24px 48px;
        color: $color-font;
        font-family: 'GoodTimes', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        
        &:hover {
            color: $color-yellow;
        } 
    }

    .menu__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu__item--icon{
       color: $color-yellow;

       > i {
        font-size: 2.4rem;
       }

       &:hover {
        color: $color-font;
       }
    }
}

@media screen and (orientation: landscape){
    .navigation {
        
        .menu__box {
            top: -200%;
            padding: 0;
        }
    }
}

@media screen and (min-width: 768px){

    .logo-menu__container {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation {
        position: sticky;
        top: 0;
        .menu__box {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            top: -50px;
            height: 20px;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
            box-shadow: none;
            transition: none;
        }

        .menu__item {
            display: flex;
            padding: 0px 10px;
            color: $color-font;
            font-family: 'Amble', sans-serif;
            font-size: 1.6rem;
            font-weight: normal;
            text-decoration: none;
            letter-spacing: normal;
            transition-duration: .25s;
        }

        .menu__btn {
            display: none;
        }
        .menu__item--icon{
            color: $color-yellow;
         }
    }
}

@media screen and (min-width: 1025px){

    .logo-menu__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 150px;
    }
    .navigation {

        .menu__box {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            top: -30px;
            height: 20px;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
            box-shadow: none;
            transition: none;
        }

        .menu__item {
            display: flex;
            padding: 0px 24px;
            color: $color-font;
            font-family: 'Amble', sans-serif;
            font-size: 1.6rem;
            font-weight: normal;
            text-decoration: none;
            letter-spacing: normal;
            transition-duration: .25s;
        }
        .menu__item--icon{
            color: $color-yellow;
         }
        
}
}