.pricing {
    padding: 15px;
    font-family: 'GoodTimes';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: auto;

    .pricing__title {
        color: $color-yellow;
        font-size: 3.6rem;
    }

    .pricing-element {
        margin-top: 55px;
        
        .pricing-element__title{
            color: $color-yellow;
            font-size: 2.4rem;
        }

        .pricing-element__subtitle{
            margin-top: 26px;
            margin-bottom: 26px;
            font-family: 'Amble';
            font-weight: normal;
            font-size: 2rem;
            color: $color-font;
        }
    }

}