.pricing {
    padding: 15px;
    font-family: 'GoodTimes';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: auto;

    &__title {
        color: $color-yellow;
        font-size: 3.6rem;
    }

    .pricing-element {
        margin-top: 55px;
        
        &__title{
            color: $color-yellow;
            font-size: 2.4rem;
        }

        &__subtitle{
            margin-top: 26px;
            margin-bottom: 26px;
            font-family: 'Amble';
            font-weight: normal;
            font-size: 2.4rem;
            color: $color-font;
        }
    }

}

@media screen and (min-width: 768px){
    .pricing {
        background-image: url('../images/pricing-background.jpg');
        height: 100vh;
        background-position: center;
        background-attachment: fixed;
        .pricing-container {
            padding: 50px 0 150px 0;
            margin: 0px 100px 0 100px;
            background: rgba( 0, 0, 0, 0.06);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6.2px);
            -webkit-backdrop-filter: blur(6.2px);

            .element-container {
                display: flex;
                flex-direction: row;
                align-items: space;
                justify-content: space-around;
                
                .pricing-element{
                    margin-top: 150px;
                }
            }
        }
    }
}